<div
    [ngStyle]="{ 'background': config.fondo, 'padding': '20px', 'border': '5px solid green', 'border-color': config.color}">
    <a routerLink="/home" [routerLinkActive]="['active']"><button>HOME</button></a>&nbsp;
    <a routerLink="/productos" [routerLinkActive]="['active']" ariaCurrentWhenActive="page"><button>PRODUCTOS</button></a>&nbsp;
    <a routerLink="/cursos" [routerLinkActive]="['active']"><button>CURSOS</button></a>&nbsp;
    <a routerLink="/about" [routerLinkActive]="['active']" ariaCurrentWhenActive="page"><button>ABOUT</button></a>&nbsp;
    <a routerLink="/externo" [routerLinkActive]="['active']" ariaCurrentWhenActive="page"><button>EXTERNO</button></a>&nbsp;
    <a routerLink="/contacto" [routerLinkActive]="['active']" ariaCurrentWhenActive="page"><button>CONTACT</button></a>
    <hr>
    <!-- {{title}}
    {{description}}
    <fes></fes><br>
    <button *ngIf="!mostrar_slider" (click)="ocultarSlider(true)" style="margin-top: 10px;">Mostrar</button>
    <button *ngIf="mostrar_slider" (click)="ocultarSlider(false)" style="margin-top: 10px;">Ocultar</button>
    <app-contador-slider *ngIf="mostrar_slider"></app-contador-slider>
    <mat-slider *ngIf="mostrar_slider" min="1" max="100" step="1" value="50" (input)="onInputChange($event)">
    </mat-slider>
    <app-productos></app-productos> -->
    <router-outlet></router-outlet>
</div>

