<h2>{{titulo}}</h2>

<p>Añadir marca</p>
<p>
    <input type="text" [(ngModel)]="mi_marca" (keyup.enter)="mostrarPalabra()" />
</p>
{{mi_marca}}
<button (click)="getMarca()">Obtener Marca</button>
<button (click)="addMarca()">Añadir Marca</button>


<p>Compra los productos de las mejores marcas</p>
<ul>
    <li *ngFor="let marca of marcas; let indice = index" style="list-style-type: none;">
        {{indice+1 + ' - ' + marca}}
        <button (click)="deleteMarca(indice)">Borrar</button>
    </li>
</ul>
<ul>
    <li *ngFor="let producto of productos">
        <span [ngStyle]="{'text-decoration': !producto.stock ? 'line-through' : 'none'}">{{producto.nombre}} -
            <strong [class.altoPrecio]="producto.precio > 80" [ngClass]="{'fondoRojo':producto.precio > 100, 'subrayado': producto.marca == 'CAT'}">{{producto.precio}} $</strong> &nbsp;
            <span *ngIf="producto.precio <= 80" [style.background]="producto.precio <= 80 ? 'green' : 'transparent'"
                [style.color]="producto.precio <= 80 ? 'white' : 'black'">¡EN
                OFERTA!</span></span>
        <span *ngIf="!producto.stock">AGOTADO</span>
    </li>
</ul>

<p>El color de la mayoría de nuestros productos es:</p>

<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'yellow'">
        El color predominante es <span style="background: yellow">amarillo</span>
    </li>
    <li *ngSwitchCase="'red'">
        El color predominante es <span style="background: red">rojo</span>
    </li>
    <li *ngSwitchCase="'blue'">
        El color predominante es <span style="background: blue">azul</span>
    </li>
    <li *ngSwitchCase="'orange'">
        El color predominante es <span style="background: orange">naranja</span>
    </li>
</ul>